{{> head }}
	
	<div>
		<h1> Hola Home </h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consequuntur quia, repellendus officia assumenda velit eum adipisci impedit! Tempore eveniet id iusto ea! Nisi animi repellat assumenda tempora, eligendi laboriosam.</p>
	</div>
	
{{> footer }}


	  