{{>head}}

	<div class="jumbotron">
		<h1>Chat</h1>
		
		<form action=""></form>


	</div>
	
	<script src="socket.io/socket.io.js"></script>
	<script src="assets/js/socket-chat.js"></script>

{{> footer }}


	  